<div class="jumbotron">
	<h1 class="cover-heading">Looking for a car?</h1><br>
		<well><h2>We'll find the car for you!</h2>
        <p>With access to thousands of cars at wholesale prices,  <br>
        we will work with you to fit your budget, taste and need!
        </p><br></well>
    	<p>
    		<a href="tel:+61414399369" class="btn btn-lg btn-default">
    			<span class= "glyphicon glyphicon-earphone" aria-hidden="true"></span>
    			0414 399 369
    		</a> 
    		<a href="mailto:MelbourneCars@gmail.com?subject=Looking for a car" class="btn btn-lg btn-default"> 
    		<span class= "glyphicon glyphicon-envelope" aria-hidden="true"></span>
    		Email
    		</a>

    	</p>
 	
</div>

<div class="mastfoot">
	<div class="inner">
 		<!---<p>LMCT 675765576</p>-->
 	</div>
