<div class="jumbotron"> 
        <h1 class="diplay-3"> Melbourne Cars Direct</h1>
		<p class="lead">We'll find the car for you!</p>
        <hr class="my-4">
        <p>With access to thousands of cars at wholesale prices, 
        we will work with you to fit your budget, taste and need!
        </p>
    	<p class="lead">

    		<a class="btn btn-lg" href="tel:+61414399369" role="button" >0414 399 369</a> 
    		<a class="btn btn-lg" href="mailto:MelbourneCars@gmail.com?subject=Looking for a car" role="button">Email</a>

    	</p>
</div>

<%= render 'cars/cars' %>
 	



