html,
body {
  height: 100%;
  background-color: #333;
}
body {  
  background: url(https://source.unsplash.com/K3op9qgNjLg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title
  {
    margin-bottom:  3px;
  }